// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.courses {

  table {
    border-collapse: collapse;
    table-layout: fixed;
  }

  table tr td {
    padding: 3px;
    vertical-align: top;

  }

  .list_image {
    width:  72px;
    height: 105px;
  }

  .author{
      font-size: x-small;
      text-align: center;
      margin: 0;
      width: 90px;
  }

  .list_description {

    dl {
      margin: 0;
    }

    dt {
      color:        #244;
      font-weight:  bold;
      font-size:    larger;
    }

    dd {
      margin: 0;
    }
  }

  .list_actions {
    font-size:    x-small;
    text-align:   right;
    padding-left: 1em;
    width: 60px;
    }

  .bottom_row {
    td {
      height: 10px;
    }
  }

  .price {
      color:  #244;
      font-weight:  bold;
      font-size: small;
  }

  .list_line_even {
    background:   #e0f8f8;
  }
  .list_line_odd {
    background:   #f8b0f8;
  }
}
/* END_HIGHLIGHT */
